@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './theme.css';

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-white text-gray-800 antialiased;
  }
}
